{% extends 'index.html' %}

{% block title %}
Interview site
{% endblock %}

{% block content_for_first_page %}
<div class="first_text">
    {% for text in first_page_data %}
        <p>{{ text[1] }}</p>
    {% endfor %}
</div>
{% endblock %}

{% block content_for_second_page %}
<div class="fir">

    <div class="pervy">
        <input type="range" min="0" max="3" value="0">

        {% for text in second_page_data %}
        <div class="hidden-text">
            {{ text[1] }}
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block content_for_tri_page %}
    <div class="profile_one">
        <div class="logo_prof">
            <img src="{{ url_for('static', filename = third_page_data[0][2]) }}">
            <a href="{{ third_page_data[0][3] }}" target="_blank">
                <button class="button_soft">ПРОФИЛЬ</button>
            </a>
        </div>

        <div class="text_for_one">
            {{ third_page_data[0][1] }}
        </div>
    </div>

    <div class="profile_two">
        <div class="logo_prof">
            <img src="{{ url_for('static', filename = third_page_data[1][2]) }}">
            <a href="{{ third_page_data[1][3] }}" target="_blank">
                <button class="button_soft">ПРОФИЛЬ</button>
            </a>
        </div>

        <div class="text_for_two">
            {{ third_page_data[1][1] }}
        </div>
    </div>

    <div class="profile_three">
        <div class="logo_prof">
            <img src="{{ url_for('static', filename = third_page_data[2][2]) }}">
            <a href="{{ third_page_data[2][3] }}" target="_blank">
                <button class="button_soft">ПРОФИЛЬ</button>
            </a>
        </div>

        <div class="text_for_three">
            {{ third_page_data[2][1] }}
        </div>
    </div>

    <div class="bottom_info">
        {% for text in txt_for_tri_page %}
            {{ text }}
        {% endfor %}
    </div>

{% endblock %}

{% block content_for_four_page %}
<div class="txt_for_fourth_page">
    {% for text in txt_for_four_page %}
        <p>{{ text }}</p>
    {% endfor %}
</div>

<div class="modal_window">

    <div class="one_soft">
        <img src="{{ url_for('static', filename = fourth_page_data[0][1]) }}" alt="">
        <a href="{{ fourth_page_data[0][2] }}" target="_blank">
            <button class="button_soft">ПРОФИЛЬ</button>
        </a>
    </div>

    <div class="two_soft">
        <img src="{{ url_for('static', filename = fourth_page_data[1][1]) }}" alt="">
        <a href="{{ fourth_page_data[1][2] }}" target="_blank">
            <button class="button_soft">ПРОФИЛЬ</button>
        </a>
    </div>

    <div class="three_soft">
        <img src="{{ url_for('static', filename = fourth_page_data[2][1]) }}" alt="">
        <a href="{{ fourth_page_data[2][2] }}" target="_blank">
            <button class="button_soft">ПРОФИЛЬ</button>
        </a>
    </div>

</div>
{% endblock %}