<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/forreg.css" %}">
    <link rel="icon" href="img/logosite.jpg">
    <title>Registration - CRYAT</title>
</head>
<body>

    <div class="main">

        <div class="footer">
            <div class="left">
                <a href="{% url "main:home" %}"><img src="{% static "img/logo.png" %}" alt=""></a>
            </div>
            <div class="right">
                <a href="{% url "main:feedback" %}"><img src="{% static "img/chat.png" %}" alt=""></a>
            </div>
        </div>

        <div class="authhelp">
            <div class="auth">
                <div class="data">
                    <form id="registration-form" method="POST">
                        
                        {% csrf_token %}
                        <div class="nickname">
                            <label for="nickname"></label>
                            <input type="text" id="nickname" name="nickname" placeholder="Nickname" required>
                        </div>
                    
                        <div class="favorite_word">
                            <label for="favorite_word"></label>
                            <input type="text" id="favorite_word" name="favorite_word" placeholder="Favorite Word" required>
                        </div>
                    
                        <div class="password">
                            <label for="password"></label>
                            <input type="password" id="password" name="password" placeholder="Password" required>
                        </div>
                    
                        <div class="repeat_password">
                            <label for="repeat_password"></label>
                            <input type="password" id="repeat_password" name="repeat_password" placeholder="Repeat Password" required>
                        </div>
                    
                        <button type="submit" class="btn">Register</button>
                    
                        <a href="{% url 'usermanage:authbynick' %}">I have an wallets</a>
                    </form>                    
                </div>
            </div>
        </div>

    </div>

</body>
</html>
